{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    <meta name="keywords" content="Ключевые слова, и, фразы, через, запятую">
    <meta name="description" content="Описание контента страницы, 1-2 предложения.">

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper white">
                <div class="row">
                    <div class="col s2">
                        <div class="row">
                            <a href="/" class="col s6 offset-s2 brand-logo blue-text text-darken-2">kodland</a>
                            <span class="col s3 offset-s1 black-text">
                                Блог
                            </span>                        
                        </div>                        
                    </div>
                    <div class="col s1 offset-s7">
                        <p class="blue-text text-darken-2">контент</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <div class="row">
            <div class="col s12">
                <p>контент</p>
            </div>
        </div>
    </div>



    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>